.fullscreen {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

#iodzq {
	width: 400px;
	height: 168px;
	margin: 24.3px 0px;
}

.n3VNCb {
	width: 633px;
	height: 266px;
}

#i8oj {
	font-size: 30px;
}